body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

main {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: #1e1b18;
}

.password-box {
    background-color: hsl(205, 58%, 52%);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 300px;
    height: 160px;
    padding: 10px;
    gap: 12px;
    margin: auto;
}


.password-box h3 {
    font-size: x-large;
    color: white;
    font-weight: 600;
    margin: 0;
}

.password {
    display: flex;
    gap: 5px;
    width: 100%;
    align-self: center;
    margin: 0px;
}

.password input {
    width: 239px;
    height: 90%;
    opacity: 0.9;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 10px;
}

.generate-button {
    width: 40%;
    height: 35px;
    margin: 0px;
    font-size: 22px;
    font-weight: 400;
    color: white;
    border: 0px;
    border-radius: 10px;
    background-color: #023E8A;
}

.generate-button:hover {
    background-color: greenyellow;
    color: black;
}

.passwordMessage {
    width: 230px;
    height: 50px;
    position: relative;
    left: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    border-radius: 10px;
    font-weight: 400;
    background-color: lightgreen;
    font-family: 'Courier New', Courier, monospace;
}

.input:focus {
    outline: none;
}
