* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 8%;
  font-size: larger;
  font-weight: 700;
  font-family: sans-serif;
  background-color: whitesmoke;
}

.leftNav {
  list-style-type: none;
}

.rightNav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.menuBtn {
  display: none;
}

.closeMenuBtn {
  display: none;
}

@media (max-width: 680px) {
  .rightNav {
    display: none;
  }

  .menuBtn {
    display: flex;
  }
}
