* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	gap: 2rem;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 3rem;
    gap: 5rem;
  }
}


.game-title {
	width: 100vw;
	text-align: center;
	font-size: 1.6rem;
	height: auto;
	background-color: brown;
	color: white;
	Padding: 2rem;
}

.game-title h1 {
	font-weight: bold;
	font-family: Arial;
}

.game {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}

.rps-img {
	width: 20%;
	text-align: center;
}

.rps-img img {
	max-width: 100%;
	min-width: 120px;
}

.rps-img:hover {
	transform: scale(1.088);
	transition: transform 0.3s ease;	
}

.game-wins {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.wins {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 2rem;
	font-size: 2rem;
	font-weight: 800;
	font-family: Arial, san sarif;
}

.playGameBtn {
	display: flex;
	align-self: center;
}

.playGameBtn button {
	font-size: 1.5rem;
	font-weight: 600;
	background-color: black;
	border: none;
	color: white;
	border-radius: 1.3rem;
	padding: 2rem 3rem 2rem 3rem;
}
