* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
}

.game-title {
	width: 100vw;
	text-align: center;
	font-size: 1.6rem;
	height: auto;
	background-color: brown;
	color: white;
	Padding: 2rem;
}

.game-title h1 {
	font-weight: bold;
	font-family: Arial;
}

.game {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4em;
	padding: 5em;
}

.rps-img {
	width: 26%;
	text-align: center;
}

.rps-img img {
	max-width: 100%;
	min-width: 120px;
} 

.game-wins {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.wins {
	display: flex;
	gap: 3rem;
	font-size: 2rem;
	font-weight: 800;
	font-family: Arial, san sarif;
}

