body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    border-radius: 15px;
    background-color: hsl(0, 0%, 12%);
    height: 520px;
    max-height: 520px;
    width: 280px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 15px;
}

.avatar img{
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}

.name-head h2{
    margin: 0;
    padding: 0;
}

.place h5{
    color: hsl(75, 94%, 57%);
    font-weight: 700;
    margin: 0;
}

.main div p {
    font-size: 14px;
    opacity: 0.6;
    font-weight: 500;
    margin: 6px;
}

.links {
    border-radius: 5px;
    background-color: hsl(0, 0%, 20%);
    width: 90%;
    padding: 14px;
    display: flex;
}

.links h5 {
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: 600;
    text-align: center;
    font-weight: 700;
}
.links:hover {
    color: hsl(0, 0%, 8%);
    background-color: hsl(75, 94%, 57%);
    transition: 0.1s ease-in;
    transform: scale(1.05,1.05);
}