/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

.container_row {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
}

.hero {
  padding: 100px 0;
  background-color: #23424a;
  color: #fff;
}

.hero__text {
  width: 60%;
}

.hero p {
  margin-bottom: 5em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  font-weight: 900;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.hero-down {
  width: 100vw;
  background-color: white;
}

.downContainer {
  display: flex;
  width: 80%;
  margin: 3rem auto 3rem auto;
  gap: 5rem;
  background-color: white;
  color: black;
}

.heroRight {
  background-color: #136c72;
  color: white;
  padding: 3rem;
  width: 38%;
}

.heroLeft {
  width: 60%;
}
.column {
  text-align: center;
}

.heroRight p {
  font-weight: 200;
}
