body {
    font: 16px;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

.scanner {
    display: flex;
    flex-direction: column; 
    /* align-items: center; */
    width: 100%;
    height: 63%;
    max-width: 280px;
    border-radius: 20px;
    background-color: white;
    margin: auto;
    text-align: center;
    line-height: 1.2;
    padding: 18px;
    font-weight: 500;
}

.scanner div p {
    opacity: 0.4;
}

.scanner div {
    width: 280px;
}

.scanner div img {
    width: 100%;
    border-radius: 10px;
}