body {
    background-color: hsl(47, 88%, 63%);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    height: 450px;
    width: 274px;
    padding: 16px;
    border: 1px solid black; 
    margin: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 8px 8px hsl(0, 0%, 7%);
    line-height: 1.3;
}

.main div {
    width: 274px;
    margin-bottom: 15px;
}

.main div img {
    width: 100%;
    border-radius: 15px;
}

.main div h5 {
    padding: 8px;
    background-color: hsl(47, 88%, 63%);
    font-weight: 600;
    display: inline-block;
    border-radius: 5px;
    margin: 0;
}

.main div h3 {
    font-weight: 700;
}

.main div p1 {
    font-weight: 500;
    font-size: 0.9rem;
    color: hsl(0, 0%, 7%);
}

.main div p2 {
    font-weight: 500;
    font-size: 0.9rem;
    opacity: 0.6;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatar span img {
    height: 25px;
    width: 25px;
    border-radius: 15px;
    object-fit: cover;
}

.avatar h4 {
    font-weight: 600;
    display: inline;
}