*{
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 10px 5px 10px;
    padding: 5px;
}

.nav-logo {
    display: inline;
    width: 50%;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 40%;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.navmenu {
    display: none;
}

.sidebar {
   height: 100vh;
   width: 260px; /* narrow right-side panel */
   background-color: white;
   opacity: 0.99;
   position: fixed;
   top: 0;
   right: 0;
   left: auto;
   display: none;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start; /* align children to the left of the panel; we'll right-align list items */
   padding: 20px;
   box-shadow: -2px 0 6px rgba(0,0,0,0.08);
}

.sidebar ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   width: 100%;
}

.sidebar ul li{
    margin: 15px 0;
    width: 100%;
    text-align: left; /* place links against right edge of panel */
}

.sidebar ul li a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-right: 8px;
} 

@media (max-width: 600px) {
    .navbar ul {
        display: none;
    }

    /* show the menu icon container on small screens */
    .navmenu {
        display: inline;
    }
}


