* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.firstContainer {
  background-color: #f3eed9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8%;
  padding: 10%;
}

.firstContainer h1 {
  width: 65%;
  text-align: center;
  font-size: 60px;
  color: #824936;
  font-family: "Playfair";
  font-weight: 1000;
}

.firstContainer p {
  letter-spacing: 10px;
  text-align: center;
}

.secondContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  gap: 30px;
}

.secondContainer h3 {
  color: #824936;
  font-weight: 900;
  font-size: 2.2rem;
  font-family: "Playfair";
}

.secondContainer p {
  color: #23312e;
  font-size: 1.125rem;
  line-height: 1.8rem;
}

.row {
  display: flex;
  justify-content: center;
  gap: 8%;
  font-family: "Roboto", sans-serif;
  color: #222c2a;
}

.firstColumn {
  width: 40%;
  text-align: justify;
  padding: 1.5rem;
}

.secondColumn {
  width: 40%;
  text-align: justify;
  padding: 1.5rem;
}

.thirdContainer {
  display: flex;
  gap: 8%;
  padding: 5rem;
  justify-content: center;
  background-color: #222c2a;
  color: #f3eed9;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 40%;
  text-align: justify;
  padding: 1.5rem;
}

.content h3 {
  font-size: 2rem;
  font-weight: 800;
}

.content p {
  font-size: 1.125rem;
  line-height: 1.8rem;
  font-family: "Roboto", sans-serif;
}

.image {
  width: 40%;
  padding: 1.5rem;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.fourthContainer {
  display: flex;
  gap: 10%;
  padding: 5rem;
  justify-content: center;
  background-color: #824936;
  color: #f3eed9;
}
